@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box ;
} 


body{
  font-family: "Open Sans", sans-serif;
  background: #ebe9e9;
}

/* ////////////////////////////////////// */
/* start header section  */

header {
  width: 100%;
  height: 70px;
  background: white;
}

header .logo {
  width: 50px;
}

header .row {
  /* margin: 0; */

}
.underline-none{

  text-decoration: none;
}
.header-title{
  color: #1a1a1a;
  font-size: 26px;
  font-weight: bolder;
}

.rounded-circle{
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  background: #f0f5ff !important;
  color: #292929 !important;

}
.rounded-circle svg{
 color: #292929 !important;


}


.searchBox{
  width: 400px;
  height: 40px;
  background: #f0f5ff;
  border-radius: 6px;
  padding: 10px;
}
.searchBox input{
  border: none;
  background: transparent;
  height: 30px;
  padding-left: 10px;
  width: 70%;
  outline: none;
  color: rgb(88, 74, 74);

}

/* ////////////////////////////////////// */
/* End header section */